<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

        <style>
            body {
                background-color: #ffe7cf;
            }
            a {
                text-decoration: none;
                color: #13002a;
            }
            a:hover {
                background-color: #FF704D;
            }
            a:visited {
                color: #5c4fde;
            }
            #next {
                background-color: #f0efff;
                color: black;
                font-size: 300%;
            }
    </style>
</head>
<body>
<a id="next" href="/{{ next }}">NEXT</a>

{% for item in arr %}
    <a href="/ck/{{ item }}">{{ item }}</a>
{% endfor %}

</body>
</html>